@mixin prefix($property, $value) {
  $prefixes: webkit, moz, ms, o;
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

@mixin prefixKeyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin clearBoth() {
  content: '';
  clear: both;
  display: block;
}

@mixin menuArrow($isUp: true) {
  @if $isUp {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border: solid 1px #ffae14;
    display: inline-block;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    right: 20px;
    bottom: 24px;
  } @else {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border: solid 1px #ffae14;
    display: inline-block;
    border-bottom: none;
    border-left: none;
    transform: rotate(-45deg);
    right: 20px;
    top: 24px;
  }
}
